.Header__link {
  text-decoration: none;
  margin-right: 8px;
  color: #fff;
}
.Header__link.active {
  color: #444;
}
.Header{
  width: 100%;
  display: flex;
  height: 50px;
  background-color: #4CAF50;
}