.Login__form {
  display: flex;
  flex-direction: column;
  width:360px;
  height: 247px;
  padding:20px;
  margin:75px auto;
  justify-content: space-between;
}
.logo{
  font-weight: 700;
  color: #444;
  font-size: 30px;
  text-align: center;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin:0 0 25px;
}
.Login__input{
  height: 28px;
  padding: 6px 42px 6px 16px;
}
.Login__button{
  width: 87px;
  height: 34px;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #4CAF50;
  color: #fff;
  border:1px solid transparent;
  border-color: #4CAF50;
}
